
/* Login page css */
.Login{
    margin-top: 40px;
    padding: 0 200px;
  }
  .Main-content{
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
  }
  
  .lpart , .rpart{
    height: 420px;
    max-height: 450px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .rpart > form {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul#ul{
    margin: 10px 0;
  }
  ul#ul li{
    margin: 4px 25px;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(44, 44, 44);
  }
  
  button#newbtn{ 
    font-size: 22px;
    color: white;
    margin: 0px;
    border-radius: 2px;
    height: 50px;
    width: 250px;
  }
  button#newbtn {background-color: rgb(255, 73, 73);border: 2px solid rgb(255,73,73);}
  button#newbtn:hover {background-color: rgb(214, 32, 32);border: 1px solid rgb(253, 40, 40); }
  
  
#resetlink{
  margin-bottom: 40px;
  text-decoration: none;
  color: rgb(255, 73, 73);
}
  
  
  