@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Quicksand:wght@300&family=Red+Hat+Mono&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','sans-serif';
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  padding: 0 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
  border-radius: 20px;
  border: 3px solid white;       /* roundness of the scroll thumb */
}

.navbar{  background-color: aliceblue;}
.navbar,.searchbar, .pro-search {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pro-search{
  justify-content: right;
}
.lside {
  margin-left: 50px;
  height: 55px;
  width: auto;
}
img {
  height: 55px;
}

.rside{
  margin-right: 50px;
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#link {
  cursor: pointer;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 73, 73);
}
#liti {
  height: 15px;
  width: 2px;
  background-color: rgb(125, 128, 128);
}

.cartbox {
  height: 40px;
  width: 110px;
  border-radius: 7px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fa{
  font-size: 25px;
  color: rgb(255, 73, 73);
  margin: 0 5px;
}
.cartTxt,.itemTxt {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inp, #inpPro {
  font-size: 20px;
  font-style: italic;
  padding-left: 10px;
  height: 40px;
  width: 422px;
  outline-color: rgb(94, 92, 92);
  border-radius: 6px;
  border: 2px solid rgb(172, 172, 172);
}

#submit, #cancel {
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  height: 42px;
  width: 130px;
  max-width: 139px;
  border-radius: 6px;
  margin: 0 0 0 10px;
}
#submit i {color: aliceblue;font-size: 23px;}
#submit {background-color: rgb(32, 228, 49);border: 1px solid rgb(32,228,49); padding-right: 7px;}
#cancel {background-color: rgb(253, 40, 40);border: 1px solid rgb(253, 40, 40); }
#submit:hover {background-color: rgb(27, 189, 41);border: 1px solid rgb(32,228,49); }
#cancel:hover {background-color: rgb(214, 32, 32);border: 1px solid rgb(253, 40, 40); }

.footerbox {
  margin-top: 80px;
  color: rgb(85, 85, 85);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 200px;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 45px;
  font-weight: 500;
  background-color: white;
}





/* ProductListingPage */





/* Common Inputbox */
.ibox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ibox p{
  color: rgb(58, 58, 58);
  font-size: 20px;
  margin-bottom: 7px;
}
.ibox input{
  font-size: 20px;
  padding:  0 15px;
  margin-bottom: 25px;
  margin-right: 20px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #c7c7c7;
  outline-color: #616161;
}
/*////////////////*/
